.gm-style-cc { display:none; }

#map a img { display:none; } 

#map2 a img { display:none; } 

#map3 a img { display:none; } 

#map4 a img { display:none; } 

#map5 a img { display:none; }




.jarviswidget {
 margin: 0 0 0px; 
}

#main {

padding-bottom: 0px !important;

}

#content {
	padding: 5px 14px;
}

legend {
font-size: 14px;
}
#capa {
	padding-top: 10px;
	border-top: 1px solid rgba(0,0,0,.1);
}